How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
 Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}
 The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})

In [4]:
df.X

0    7
1    2
2    0
3    3
4    4
5    2
6    5
7    0
8    3
9    4
Name: X, dtype: int64

In [6]:
A = (df['X'] != 0).cumsum()
A

0    1
1    2
2    2
3    3
4    4
5    5
6    6
7    6
8    7
9    8
Name: X, dtype: int32

In [8]:
Y = A != A.shift()

In [9]:
Y = list(Y.groupby((Y != Y.shift()).cumsum()).cumsum())

In [10]:
np.array(Y,dtype=int)

array([1, 2, 0, 1, 2, 3, 4, 0, 1, 2])

Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [11]:
DateTime_Index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')

In [12]:
DateTime_Index

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [16]:
s = pd.Series(np.random.rand(len(DateTime_Index)), index=DateTime_Index)

In [18]:
s

2015-01-01    0.870752
2015-01-02    0.469921
2015-01-05    0.206680
2015-01-06    0.543378
2015-01-07    0.081303
2015-01-08    0.367279
2015-01-09    0.832667
2015-01-12    0.028422
2015-01-13    0.675647
2015-01-14    0.623359
2015-01-15    0.230176
2015-01-16    0.472627
2015-01-19    0.171126
2015-01-20    0.859203
2015-01-21    0.166402
2015-01-22    0.328118
2015-01-23    0.831779
2015-01-26    0.412083
2015-01-27    0.774336
2015-01-28    0.341979
2015-01-29    0.945876
2015-01-30    0.416392
2015-02-02    0.276813
2015-02-03    0.288893
2015-02-04    0.803760
2015-02-05    0.067684
2015-02-06    0.132637
2015-02-09    0.610510
2015-02-10    0.027848
2015-02-11    0.544684
                ...
2015-11-20    0.049108
2015-11-23    0.786909
2015-11-24    0.840663
2015-11-25    0.685370
2015-11-26    0.556593
2015-11-27    0.609919
2015-11-30    0.152761
2015-12-01    0.760482
2015-12-02    0.352947
2015-12-03    0.505640
2015-12-04    0.812342
2015-12-07    0.006246
2015-12-08    0.247777
2015-12-09    0.700880
2015-12-10    0.562641
2015-12-11    0.926679
2015-12-14    0.399481
2015-12-15    0.186017
2015-12-16    0.899496
2015-12-17    0.197903
2015-12-18    0.506350
2015-12-21    0.552426
2015-12-22    0.827414
2015-12-23    0.922350
2015-12-24    0.364113
2015-12-25    0.200638
2015-12-28    0.965017
2015-12-29    0.501908
2015-12-30    0.184848
2015-12-31    0.920995
Freq: B, Length: 261, dtype: float64

Find the sum of the values in s for every Wednesday

In [20]:
s[DateTime_Index.weekday == 2].sum()

26.45228824293273

Average For each calendar month

In [21]:
s=s.resample('M').mean()

In [22]:
s

2015-01-31    0.484068
2015-02-28    0.366254
2015-03-31    0.377815
2015-04-30    0.456618
2015-05-31    0.523137
2015-06-30    0.538351
2015-07-31    0.507482
2015-08-31    0.551397
2015-09-30    0.488450
2015-10-31    0.519827
2015-11-30    0.515517
2015-12-31    0.543678
Freq: M, dtype: float64

For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [23]:
s.groupby(pd.Grouper(freq='4MS')).max()

2015-01-01    0.484068
2015-05-01    0.551397
2015-09-01    0.543678
2016-01-01         NaN
dtype: float64

To find the date on which the highest value occurred

In [24]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-31
2015-05-31   2015-05-31
2015-09-30   2015-08-31
2016-01-31   2015-12-31
dtype: datetime64[ns]